#nav{
	background-color: yellow;
	border-radius: 0;
}
#box1{
	border:3px solid black;
	background-color: blue;
	height:4000px;
	padding:5px;
}
h1{
	text-align: center;
}
#nav-list{
	margin-top: 15px;
}
li{
	border-bottom: 1px solid black;
	text-align: center;
}